<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='data.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/active-list.css') }}"
    />
    <link
          href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/introjs.min.css"
          rel="stylesheet"
        />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Document</title>
  </head>

  <body>
    <nav class="topnav">
      <a  id="home" class="active" href="{{url_for('home_page', name=session['name'])}}"
        >Instructions</a>
      <a id="demo" href="#">Demo</a>
      
      {% if docs_len != 0 %}
      <!-- <p>Completed</p> -->
      <a href="{{url_for('labeled_list', name=session['name'])}}"> View/Edit Responses </a>
      {% endif %}
      
      <div class="time-container">
        <div class="time-label">Time Elapsed:&nbsp;&nbsp;</div>
        <div id="sessionTimer">
          <!-- Timer elements go here -->
        </div>
      </div>

      

      <a class="logout" id="finish" href="{{url_for('finish')}}"> Finish</a>
      
    </nav>
    <main>
      <h1 class="heading">SELECT A DOCUMENT TO LABEL </h1>
      <br />
      <div> AI Recommended Document To Label Is In Red</div>
      

      <br>
      <div id="act_lis" class="table-wrapper active-list-table">
        <table>
          <thead>
            <tr>
              <th>Number</th>
              <th>Document</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{rec}}</td>
              <td>
                <div class="table-data1" >
                  <a id="recommended" href="{{url_for('active', name=name, document_id=rec)}}">
                    {{results[rec][:200]}}</a
                  >
                </div>
              </td>
            </tr>
            {% for a in results.keys()%}

            <tr>
              <td>{{a}}</td>
              <td>
                <div class="table-data">
                  <a href="{{url_for('active', name=name, document_id=a)}}">
                    {{results[a][:200]}}</a
                  >
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </main>

    <script src="{{ url_for('static', filename='label.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/intro.min.js"></script>
    <!-- <script src = "{{ url_for('static', filename='active_listt.js') }}"></script> -->
    <script src = "{{ url_for('static', filename='active_listt.js') }}"></script>
    <script src = "{{ url_for('static', filename='track_labels.js') }}"></script>
  </body>
</html>